--
-- PostgreSQL database cluster dump
--

\restrict geTtIoCZq0nTyffV6V2JTaNjKH3GyAAfsluD92CayELj6wCiXud3bfyezjvGfbF

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE solarmatch;




--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:0YmkUeq4/fQu4h9zvLiWIQ==$hHNawMihI2bQz/NIUHUKRVs6TgcjunICxuGKMUy+kd8=:WOgwUftSUvyFJOjubG9Furzg+eItNcazeDoIFsr3jbg=';

--
-- User Configurations
--








\unrestrict geTtIoCZq0nTyffV6V2JTaNjKH3GyAAfsluD92CayELj6wCiXud3bfyezjvGfbF

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict JRctJvC1XtDHJn9Bvdt2AgPmgI63emg02cblyQ0vtESBsWBjH9gGdA57tYeOfCV

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\unrestrict JRctJvC1XtDHJn9Bvdt2AgPmgI63emg02cblyQ0vtESBsWBjH9gGdA57tYeOfCV
\connect template1
\restrict JRctJvC1XtDHJn9Bvdt2AgPmgI63emg02cblyQ0vtESBsWBjH9gGdA57tYeOfCV

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict JRctJvC1XtDHJn9Bvdt2AgPmgI63emg02cblyQ0vtESBsWBjH9gGdA57tYeOfCV
\connect template1
\restrict JRctJvC1XtDHJn9Bvdt2AgPmgI63emg02cblyQ0vtESBsWBjH9gGdA57tYeOfCV

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict JRctJvC1XtDHJn9Bvdt2AgPmgI63emg02cblyQ0vtESBsWBjH9gGdA57tYeOfCV

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict SJwyEvEgeLUG05yHvJkeUkBqNgat43WKaludCcCLxiidp17oeDHXciJ7zLsQxWe

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\unrestrict SJwyEvEgeLUG05yHvJkeUkBqNgat43WKaludCcCLxiidp17oeDHXciJ7zLsQxWe
\connect postgres
\restrict SJwyEvEgeLUG05yHvJkeUkBqNgat43WKaludCcCLxiidp17oeDHXciJ7zLsQxWe

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- Name: LeadQuoteType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LeadQuoteType" AS ENUM (
    'CALL_VISIT',
    'WRITTEN_QUOTE',
    'BIDDING'
);


ALTER TYPE public."LeadQuoteType" OWNER TO postgres;

--
-- Name: LeadStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LeadStatus" AS ENUM (
    'DRAFT',
    'PENDING_PHONE',
    'PENDING_APPROVAL',
    'APPROVED',
    'PURCHASED',
    'QUOTED',
    'ACCEPTED',
    'REJECTED',
    'EXPIRED',
    'CANCELLED',
    'FLAGGED'
);


ALTER TYPE public."LeadStatus" OWNER TO postgres;

--
-- Name: LeadVisibility; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LeadVisibility" AS ENUM (
    'HIDDEN',
    'PUBLIC',
    'PRIVATE'
);


ALTER TYPE public."LeadVisibility" OWNER TO postgres;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationType" AS ENUM (
    'NEW_LEAD',
    'LEAD_PURCHASED',
    'LEAD_APPROVED',
    'LEAD_REJECTED',
    'NEW_QUOTE',
    'NEW_MESSAGE',
    'QUOTE_ACCEPTED',
    'QUOTE_REJECTED',
    'PAYMENT_RECEIVED',
    'SYSTEM',
    'LEAD_ASSIGNED',
    'LEAD_REASSIGNED',
    'LEAD_RESOLD',
    'ASSIGNMENT_REMOVED',
    'ASSIGNMENT_ACCEPTED_COMPETITIVE'
);


ALTER TYPE public."NotificationType" OWNER TO postgres;

--
-- Name: PurchaseStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PurchaseStatus" AS ENUM (
    'PENDING',
    'COMPLETED',
    'FAILED',
    'REFUNDED'
);


ALTER TYPE public."PurchaseStatus" OWNER TO postgres;

--
-- Name: QuoteType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuoteType" AS ENUM (
    'FORMAL',
    'INFORMAL'
);


ALTER TYPE public."QuoteType" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'GUEST',
    'HOMEOWNER',
    'INSTALLER',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "leadId" text,
    "userId" text,
    action text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text,
    metadata jsonb,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_messages (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "senderId" text NOT NULL,
    "senderRole" public."UserRole" NOT NULL,
    message text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.chat_messages OWNER TO postgres;

--
-- Name: email_verification_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_verification_tokens (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.email_verification_tokens OWNER TO postgres;

--
-- Name: guest_instant_quotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guest_instant_quotes (
    id text NOT NULL,
    "sessionId" text,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "quoteType" text NOT NULL,
    postcode text NOT NULL,
    location text NOT NULL,
    state text NOT NULL,
    "electricityUsageType" text NOT NULL,
    "roofType" text NOT NULL,
    "budgetRange" text NOT NULL,
    "panelOrientation" text NOT NULL,
    "roofTilt" text NOT NULL,
    "shadingLevel" text NOT NULL,
    "desiredOffset" integer NOT NULL,
    "usagePattern" text,
    "batteryIncluded" boolean DEFAULT false NOT NULL,
    "batteryCapacity" text,
    "batteryBrand" text,
    "batteryUsage" text,
    "includeVPP" boolean DEFAULT false NOT NULL,
    "peakDemand" text,
    "isThreePhase" boolean DEFAULT false NOT NULL,
    "projectPriority" text,
    retailer text,
    "tariffPlan" text,
    "customRetailRate" text,
    "customFeedInRate" text,
    "panelBrand" text,
    "includeOptimizers" boolean DEFAULT false NOT NULL,
    "includeMicroinverters" boolean DEFAULT false NOT NULL,
    "includeEVCharging" boolean DEFAULT false NOT NULL,
    "includeSmartHome" boolean DEFAULT false NOT NULL,
    "includeGridServices" boolean DEFAULT false NOT NULL,
    "hasExistingSystem" boolean DEFAULT false NOT NULL,
    "existingSystemSize" text,
    "systemSizeOverride" text,
    results jsonb NOT NULL,
    "adminNotes" text,
    "isConverted" boolean DEFAULT false NOT NULL,
    "conversionDate" timestamp(3) without time zone,
    "electricityValue" double precision NOT NULL,
    "additionalArrays" jsonb,
    "backupCritical" text,
    "customBatteryCapacity" text
);


ALTER TABLE public.guest_instant_quotes OWNER TO postgres;

--
-- Name: install_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.install_documents (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "documentType" text NOT NULL,
    "fileName" text NOT NULL,
    "fileSize" integer NOT NULL,
    "contentType" text NOT NULL,
    "s3Key" text NOT NULL,
    "uploadedBy" text NOT NULL,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.install_documents OWNER TO postgres;

--
-- Name: installer_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.installer_profiles (
    id text NOT NULL,
    "userId" text NOT NULL,
    "companyName" text,
    "businessAddress" text,
    postcode text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.installer_profiles OWNER TO postgres;

--
-- Name: lead_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lead_assignments (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "installerId" text NOT NULL,
    "assignedBy" text NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notes text,
    notified boolean DEFAULT false NOT NULL
);


ALTER TABLE public.lead_assignments OWNER TO postgres;

--
-- Name: lead_feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lead_feedback (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "overallRating" integer NOT NULL,
    "communicationRating" integer,
    "timelinessRating" integer,
    "professionalismRating" integer,
    comments text,
    "wouldRecommend" boolean,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.lead_feedback OWNER TO postgres;

--
-- Name: leads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leads (
    id text NOT NULL,
    "homeownerId" text NOT NULL,
    "installerId" text,
    status public."LeadStatus" DEFAULT 'DRAFT'::public."LeadStatus" NOT NULL,
    visibility public."LeadVisibility" DEFAULT 'HIDDEN'::public."LeadVisibility" NOT NULL,
    "phoneVerified" boolean DEFAULT false NOT NULL,
    "phoneNumber" text,
    "projectType" text NOT NULL,
    "propertyType" text NOT NULL,
    postcode text NOT NULL,
    location text NOT NULL,
    state text NOT NULL,
    address text,
    "energyBill" double precision NOT NULL,
    "billType" text NOT NULL,
    "roofType" text NOT NULL,
    "budgetRange" text NOT NULL,
    "desiredOffset" integer NOT NULL,
    "batteryRequired" boolean DEFAULT false NOT NULL,
    "batteryCapacity" text,
    timeframe text,
    "additionalNotes" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "approvedAt" timestamp(3) without time zone,
    "purchasedAt" timestamp(3) without time zone,
    "expiresAt" timestamp(3) without time zone,
    "adminNotes" text,
    "flaggedReason" text,
    "moderatedBy" text,
    "moderatedAt" timestamp(3) without time zone,
    "leadPrice" double precision,
    "purchaseStatus" public."PurchaseStatus",
    "stripePaymentIntentId" text,
    "quoteData" jsonb,
    "quoteType" public."LeadQuoteType" DEFAULT 'CALL_VISIT'::public."LeadQuoteType" NOT NULL,
    "archivedAt" timestamp(3) without time zone,
    "assignedAt" timestamp(3) without time zone,
    "assignedBy" text,
    "assignmentNotes" text,
    "cancelledAt" timestamp(3) without time zone,
    "cancelledBy" text,
    "cancelledReason" text
);


ALTER TABLE public.leads OWNER TO postgres;

--
-- Name: newsletter_subscribers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.newsletter_subscribers (
    id text NOT NULL,
    email text NOT NULL,
    "subscribedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "unsubscribedAt" timestamp(3) without time zone
);


ALTER TABLE public.newsletter_subscribers OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    "userId" text NOT NULL,
    type public."NotificationType" NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    "actionUrl" text,
    metadata jsonb,
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: phone_verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.phone_verifications (
    id text NOT NULL,
    "phoneNumber" text NOT NULL,
    "verificationSid" text,
    attempts integer DEFAULT 0 NOT NULL,
    "lastAttemptAt" timestamp(3) without time zone,
    "verifiedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    code text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public.phone_verifications OWNER TO postgres;

--
-- Name: quotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quotes (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "installerId" text NOT NULL,
    "quoteType" public."QuoteType" NOT NULL,
    "systemSize" double precision NOT NULL,
    "panelBrand" text,
    "inverterBrand" text,
    "batteryBrand" text,
    "batteryCapacity" double precision,
    "totalPrice" double precision NOT NULL,
    "federalRebate" double precision,
    "stateRebate" double precision,
    "finalPrice" double precision NOT NULL,
    description text,
    "paybackYears" double precision,
    "annualSavings" double precision,
    warranty text,
    "installTimeline" text,
    "attachmentS3Keys" text[],
    status text DEFAULT 'pending'::text NOT NULL,
    "acceptedAt" timestamp(3) without time zone,
    "rejectedAt" timestamp(3) without time zone,
    "rejectionReason" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.quotes OWNER TO postgres;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    description text,
    "updatedBy" text,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.settings OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    role public."UserRole" DEFAULT 'HOMEOWNER'::public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    name text,
    phone text,
    image text,
    "companyName" text,
    "businessAddress" text,
    postcode text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastLoginAt" timestamp(3) without time zone,
    "installerVerified" boolean DEFAULT false NOT NULL,
    "leadSubmissionCount" integer DEFAULT 0 NOT NULL,
    "phoneVerified" boolean DEFAULT false NOT NULL,
    "leadSubmissionLimit" integer DEFAULT 5 NOT NULL,
    "biddingLeadsSubmitted" integer DEFAULT 0 NOT NULL,
    "clerkId" text,
    "emailVerifiedAt" timestamp(3) without time zone,
    "profileComplete" boolean DEFAULT false NOT NULL,
    "sessionVersion" integer DEFAULT 0 NOT NULL,
    password text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_logs (id, "leadId", "userId", action, "entityType", "entityId", metadata, "ipAddress", "userAgent", "createdAt") FROM stdin;
\.


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_messages (id, "leadId", "senderId", "senderRole", message, "isRead", "readAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: email_verification_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_verification_tokens (id, "userId", token, expires, "createdAt") FROM stdin;
\.


--
-- Data for Name: guest_instant_quotes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: install_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.install_documents (id, "leadId", "documentType", "fileName", "fileSize", "contentType", "s3Key", "uploadedBy", "uploadedAt") FROM stdin;
\.


--
-- Data for Name: installer_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.installer_profiles (id, "userId", "companyName", "businessAddress", postcode, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: lead_assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lead_assignments (id, "leadId", "installerId", "assignedBy", "assignedAt", notes, notified) FROM stdin;
\.


--
-- Data for Name: lead_feedback; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lead_feedback (id, "leadId", "overallRating", "communicationRating", "timelinessRating", "professionalismRating", comments, "wouldRecommend", "createdAt") FROM stdin;
\.


--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: newsletter_subscribers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.newsletter_subscribers (id, email, "subscribedAt", "isActive", "unsubscribedAt") FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, "userId", type, title, message, "actionUrl", metadata, "isRead", "readAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (id, "userId", token, expires, "createdAt") FROM stdin;
\.


--
-- Data for Name: phone_verifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.phone_verifications (id, "phoneNumber", "verificationSid", attempts, "lastAttemptAt", "verifiedAt", "createdAt", "expiresAt", code, status, "userId") FROM stdin;
\.


--
-- Data for Name: quotes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quotes (id, "leadId", "installerId", "quoteType", "systemSize", "panelBrand", "inverterBrand", "batteryBrand", "batteryCapacity", "totalPrice", "federalRebate", "stateRebate", "finalPrice", description, "paybackYears", "annualSavings", warranty, "installTimeline", "attachmentS3Keys", status, "acceptedAt", "rejectedAt", "rejectionReason", "createdAt", "updatedAt", "expiresAt") FROM stdin;
\.


--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.settings (id, key, value, description, "updatedBy", "updatedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, "emailVerified", role, "isActive", name, phone, image, "companyName", "businessAddress", postcode, "createdAt", "updatedAt", "lastLoginAt", "installerVerified", "leadSubmissionCount", "phoneVerified", "leadSubmissionLimit", "biddingLeadsSubmitted", "clerkId", "emailVerifiedAt", "profileComplete", "sessionVersion", password) FROM stdin;
\.


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: email_verification_tokens email_verification_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT email_verification_tokens_pkey PRIMARY KEY (id);


--
-- Name: guest_instant_quotes guest_instant_quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guest_instant_quotes
    ADD CONSTRAINT guest_instant_quotes_pkey PRIMARY KEY (id);


--
-- Name: install_documents install_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.install_documents
    ADD CONSTRAINT install_documents_pkey PRIMARY KEY (id);


--
-- Name: installer_profiles installer_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installer_profiles
    ADD CONSTRAINT installer_profiles_pkey PRIMARY KEY (id);


--
-- Name: lead_assignments lead_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_assignments
    ADD CONSTRAINT lead_assignments_pkey PRIMARY KEY (id);


--
-- Name: lead_feedback lead_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_feedback
    ADD CONSTRAINT lead_feedback_pkey PRIMARY KEY (id);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: newsletter_subscribers newsletter_subscribers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_subscribers
    ADD CONSTRAINT newsletter_subscribers_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: phone_verifications phone_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phone_verifications
    ADD CONSTRAINT phone_verifications_pkey PRIMARY KEY (id);


--
-- Name: quotes quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_pkey PRIMARY KEY (id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_action_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_logs_action_idx ON public.audit_logs USING btree (action);


--
-- Name: audit_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_createdAt_idx" ON public.audit_logs USING btree ("createdAt");


--
-- Name: audit_logs_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_leadId_idx" ON public.audit_logs USING btree ("leadId");


--
-- Name: audit_logs_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_userId_idx" ON public.audit_logs USING btree ("userId");


--
-- Name: chat_messages_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "chat_messages_createdAt_idx" ON public.chat_messages USING btree ("createdAt");


--
-- Name: chat_messages_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "chat_messages_leadId_idx" ON public.chat_messages USING btree ("leadId");


--
-- Name: chat_messages_senderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "chat_messages_senderId_idx" ON public.chat_messages USING btree ("senderId");


--
-- Name: email_verification_tokens_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX email_verification_tokens_token_key ON public.email_verification_tokens USING btree (token);


--
-- Name: email_verification_tokens_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "email_verification_tokens_userId_key" ON public.email_verification_tokens USING btree ("userId");


--
-- Name: guest_instant_quotes_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "guest_instant_quotes_createdAt_idx" ON public.guest_instant_quotes USING btree ("createdAt");


--
-- Name: guest_instant_quotes_quoteType_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "guest_instant_quotes_quoteType_idx" ON public.guest_instant_quotes USING btree ("quoteType");


--
-- Name: guest_instant_quotes_sessionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "guest_instant_quotes_sessionId_idx" ON public.guest_instant_quotes USING btree ("sessionId");


--
-- Name: guest_instant_quotes_state_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX guest_instant_quotes_state_idx ON public.guest_instant_quotes USING btree (state);


--
-- Name: install_documents_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "install_documents_leadId_idx" ON public.install_documents USING btree ("leadId");


--
-- Name: installer_profiles_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "installer_profiles_userId_key" ON public.installer_profiles USING btree ("userId");


--
-- Name: lead_assignments_assignedBy_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "lead_assignments_assignedBy_idx" ON public.lead_assignments USING btree ("assignedBy");


--
-- Name: lead_assignments_installerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "lead_assignments_installerId_idx" ON public.lead_assignments USING btree ("installerId");


--
-- Name: lead_assignments_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "lead_assignments_leadId_idx" ON public.lead_assignments USING btree ("leadId");


--
-- Name: lead_assignments_leadId_installerId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "lead_assignments_leadId_installerId_key" ON public.lead_assignments USING btree ("leadId", "installerId");


--
-- Name: lead_feedback_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "lead_feedback_leadId_idx" ON public.lead_feedback USING btree ("leadId");


--
-- Name: lead_feedback_leadId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "lead_feedback_leadId_key" ON public.lead_feedback USING btree ("leadId");


--
-- Name: lead_feedback_overallRating_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "lead_feedback_overallRating_idx" ON public.lead_feedback USING btree ("overallRating");


--
-- Name: leads_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "leads_createdAt_idx" ON public.leads USING btree ("createdAt");


--
-- Name: leads_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "leads_expiresAt_idx" ON public.leads USING btree ("expiresAt");


--
-- Name: leads_homeownerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "leads_homeownerId_idx" ON public.leads USING btree ("homeownerId");


--
-- Name: leads_installerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "leads_installerId_idx" ON public.leads USING btree ("installerId");


--
-- Name: leads_postcode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX leads_postcode_idx ON public.leads USING btree (postcode);


--
-- Name: leads_quoteType_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "leads_quoteType_idx" ON public.leads USING btree ("quoteType");


--
-- Name: leads_state_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX leads_state_idx ON public.leads USING btree (state);


--
-- Name: leads_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX leads_status_idx ON public.leads USING btree (status);


--
-- Name: leads_visibility_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX leads_visibility_idx ON public.leads USING btree (visibility);


--
-- Name: newsletter_subscribers_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX newsletter_subscribers_email_key ON public.newsletter_subscribers USING btree (email);


--
-- Name: notifications_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_createdAt_idx" ON public.notifications USING btree ("createdAt");


--
-- Name: notifications_isRead_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_isRead_idx" ON public.notifications USING btree ("isRead");


--
-- Name: notifications_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_type_idx ON public.notifications USING btree (type);


--
-- Name: notifications_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_userId_idx" ON public.notifications USING btree ("userId");


--
-- Name: password_reset_tokens_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX password_reset_tokens_token_key ON public.password_reset_tokens USING btree (token);


--
-- Name: phone_verifications_phoneNumber_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "phone_verifications_phoneNumber_idx" ON public.phone_verifications USING btree ("phoneNumber");


--
-- Name: phone_verifications_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX phone_verifications_status_idx ON public.phone_verifications USING btree (status);


--
-- Name: phone_verifications_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "phone_verifications_userId_idx" ON public.phone_verifications USING btree ("userId");


--
-- Name: quotes_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "quotes_createdAt_idx" ON public.quotes USING btree ("createdAt");


--
-- Name: quotes_installerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "quotes_installerId_idx" ON public.quotes USING btree ("installerId");


--
-- Name: quotes_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "quotes_leadId_idx" ON public.quotes USING btree ("leadId");


--
-- Name: quotes_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quotes_status_idx ON public.quotes USING btree (status);


--
-- Name: settings_key_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settings_key_idx ON public.settings USING btree (key);


--
-- Name: settings_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX settings_key_key ON public.settings USING btree (key);


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_role_idx ON public.users USING btree (role);


--
-- Name: audit_logs audit_logs_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: chat_messages chat_messages_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT "chat_messages_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: email_verification_tokens email_verification_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT "email_verification_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: install_documents install_documents_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.install_documents
    ADD CONSTRAINT "install_documents_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: installer_profiles installer_profiles_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installer_profiles
    ADD CONSTRAINT "installer_profiles_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lead_assignments lead_assignments_assignedBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_assignments
    ADD CONSTRAINT "lead_assignments_assignedBy_fkey" FOREIGN KEY ("assignedBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: lead_assignments lead_assignments_installerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_assignments
    ADD CONSTRAINT "lead_assignments_installerId_fkey" FOREIGN KEY ("installerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lead_assignments lead_assignments_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_assignments
    ADD CONSTRAINT "lead_assignments_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lead_feedback lead_feedback_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_feedback
    ADD CONSTRAINT "lead_feedback_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: leads leads_homeownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT "leads_homeownerId_fkey" FOREIGN KEY ("homeownerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: leads leads_installerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT "leads_installerId_fkey" FOREIGN KEY ("installerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: password_reset_tokens password_reset_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT "password_reset_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: phone_verifications phone_verifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phone_verifications
    ADD CONSTRAINT "phone_verifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: quotes quotes_installerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT "quotes_installerId_fkey" FOREIGN KEY ("installerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: quotes quotes_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT "quotes_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict SJwyEvEgeLUG05yHvJkeUkBqNgat43WKaludCcCLxiidp17oeDHXciJ7zLsQxWe

--
-- Database "solarmatch" dump
--

--
-- PostgreSQL database dump
--

\restrict LWgXgBOAQBO51qzHI103vzwDWuObLH0RrtgfkNU5c6O172RFr9Pcm9iZ8HIH0rN

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: solarmatch; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE solarmatch WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE solarmatch OWNER TO postgres;

\unrestrict LWgXgBOAQBO51qzHI103vzwDWuObLH0RrtgfkNU5c6O172RFr9Pcm9iZ8HIH0rN
\connect solarmatch
\restrict LWgXgBOAQBO51qzHI103vzwDWuObLH0RrtgfkNU5c6O172RFr9Pcm9iZ8HIH0rN

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: BidStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BidStatus" AS ENUM (
    'SUBMITTED',
    'SELECTED',
    'PURCHASED',
    'REJECTED'
);


ALTER TYPE public."BidStatus" OWNER TO postgres;

--
-- Name: LeadQuoteType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LeadQuoteType" AS ENUM (
    'CALL_VISIT',
    'WRITTEN_QUOTE',
    'BIDDING'
);


ALTER TYPE public."LeadQuoteType" OWNER TO postgres;

--
-- Name: LeadStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LeadStatus" AS ENUM (
    'DRAFT',
    'PENDING_PHONE',
    'PENDING_APPROVAL',
    'APPROVED',
    'PURCHASED',
    'QUOTED',
    'ACCEPTED',
    'REJECTED',
    'EXPIRED',
    'CANCELLED',
    'FLAGGED'
);


ALTER TYPE public."LeadStatus" OWNER TO postgres;

--
-- Name: LeadVisibility; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LeadVisibility" AS ENUM (
    'HIDDEN',
    'PUBLIC',
    'PRIVATE'
);


ALTER TYPE public."LeadVisibility" OWNER TO postgres;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationType" AS ENUM (
    'NEW_LEAD',
    'LEAD_PURCHASED',
    'LEAD_APPROVED',
    'LEAD_REJECTED',
    'NEW_QUOTE',
    'NEW_MESSAGE',
    'QUOTE_ACCEPTED',
    'QUOTE_REJECTED',
    'PAYMENT_RECEIVED',
    'SYSTEM',
    'LEAD_ASSIGNED',
    'LEAD_REASSIGNED',
    'LEAD_RESOLD',
    'ASSIGNMENT_REMOVED',
    'ASSIGNMENT_ACCEPTED_COMPETITIVE'
);


ALTER TYPE public."NotificationType" OWNER TO postgres;

--
-- Name: PurchaseStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PurchaseStatus" AS ENUM (
    'PENDING',
    'COMPLETED',
    'FAILED',
    'REFUNDED'
);


ALTER TYPE public."PurchaseStatus" OWNER TO postgres;

--
-- Name: QuoteType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuoteType" AS ENUM (
    'FORMAL',
    'INFORMAL'
);


ALTER TYPE public."QuoteType" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'GUEST',
    'HOMEOWNER',
    'INSTALLER',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public.accounts OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "leadId" text,
    "userId" text,
    action text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text,
    metadata jsonb,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: bids; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bids (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "installerId" text NOT NULL,
    status public."BidStatus" DEFAULT 'SUBMITTED'::public."BidStatus" NOT NULL,
    amount double precision NOT NULL,
    "capacityOffer" double precision,
    "includeGst" boolean DEFAULT true NOT NULL,
    "gstPercent" double precision DEFAULT 10.0 NOT NULL,
    "gstAmount" double precision NOT NULL,
    "includeIncentive" boolean DEFAULT false NOT NULL,
    "incentiveAmount" double precision DEFAULT 0.0 NOT NULL,
    "finalTotal" double precision NOT NULL,
    "expectedInstallDate" timestamp(3) without time zone,
    notes text,
    "panelBrand" text,
    "inverterBrand" text,
    "batteryBrand" text,
    "batteryCapacity" double precision,
    "submittedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "selectedAt" timestamp(3) without time zone,
    "purchasedAt" timestamp(3) without time zone
);


ALTER TABLE public.bids OWNER TO postgres;

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_messages (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "senderId" text NOT NULL,
    "senderRole" public."UserRole" NOT NULL,
    message text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.chat_messages OWNER TO postgres;

--
-- Name: email_verification_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_verification_tokens (
    id text NOT NULL,
    "userId" text NOT NULL,
    "hashedToken" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL,
    used boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.email_verification_tokens OWNER TO postgres;

--
-- Name: guest_instant_quotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guest_instant_quotes (
    id text NOT NULL,
    "sessionId" text,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "quoteType" text NOT NULL,
    postcode text NOT NULL,
    location text NOT NULL,
    state text NOT NULL,
    "electricityUsageType" text NOT NULL,
    "roofType" text NOT NULL,
    "budgetRange" text NOT NULL,
    "panelOrientation" text NOT NULL,
    "roofTilt" text NOT NULL,
    "shadingLevel" text NOT NULL,
    "desiredOffset" integer NOT NULL,
    "usagePattern" text,
    "batteryIncluded" boolean DEFAULT false NOT NULL,
    "batteryCapacity" text,
    "batteryBrand" text,
    "batteryUsage" text,
    "includeVPP" boolean DEFAULT false NOT NULL,
    "peakDemand" text,
    "isThreePhase" boolean DEFAULT false NOT NULL,
    "projectPriority" text,
    retailer text,
    "tariffPlan" text,
    "customRetailRate" text,
    "customFeedInRate" text,
    "panelBrand" text,
    "includeOptimizers" boolean DEFAULT false NOT NULL,
    "includeMicroinverters" boolean DEFAULT false NOT NULL,
    "includeEVCharging" boolean DEFAULT false NOT NULL,
    "includeSmartHome" boolean DEFAULT false NOT NULL,
    "includeGridServices" boolean DEFAULT false NOT NULL,
    "hasExistingSystem" boolean DEFAULT false NOT NULL,
    "existingSystemSize" text,
    "systemSizeOverride" text,
    results jsonb NOT NULL,
    "adminNotes" text,
    "isConverted" boolean DEFAULT false NOT NULL,
    "conversionDate" timestamp(3) without time zone,
    "electricityValue" double precision NOT NULL,
    "additionalArrays" jsonb,
    "backupCritical" text,
    "customBatteryCapacity" text
);


ALTER TABLE public.guest_instant_quotes OWNER TO postgres;

--
-- Name: install_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.install_documents (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "documentType" text NOT NULL,
    "fileName" text NOT NULL,
    "fileSize" integer NOT NULL,
    "contentType" text NOT NULL,
    "s3Key" text NOT NULL,
    "uploadedBy" text NOT NULL,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.install_documents OWNER TO postgres;

--
-- Name: installer_preferences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.installer_preferences (
    id text NOT NULL,
    "userId" text NOT NULL,
    "alertNewLead" boolean DEFAULT true NOT NULL,
    "alertLeadUpdates" boolean DEFAULT true NOT NULL,
    "alertAdminMessages" boolean DEFAULT true NOT NULL,
    "alertVerificationUpdates" boolean DEFAULT true NOT NULL,
    "alertAccountActivity" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.installer_preferences OWNER TO postgres;

--
-- Name: installer_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.installer_profiles (
    id text NOT NULL,
    "userId" text NOT NULL,
    "companyName" text NOT NULL,
    "businessAddress" text NOT NULL,
    postcode text NOT NULL,
    "operationalStatus" text DEFAULT 'ACTIVE'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.installer_profiles OWNER TO postgres;

--
-- Name: installer_verification_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.installer_verification_logs (
    id text NOT NULL,
    "userId" text NOT NULL,
    "adminId" text NOT NULL,
    action text NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.installer_verification_logs OWNER TO postgres;

--
-- Name: installer_verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.installer_verifications (
    id text NOT NULL,
    "userId" text NOT NULL,
    "companyName" text NOT NULL,
    "representativeName" text NOT NULL,
    designation text NOT NULL,
    email text NOT NULL,
    phone text NOT NULL,
    address text,
    "abnOrLicense" text NOT NULL,
    "establishedYear" integer NOT NULL,
    "employeeCount" integer NOT NULL,
    services text[],
    "serviceAreas" text[],
    postcodes text[],
    website text,
    "socialLinks" jsonb,
    "companyDescription" text,
    "licenseDocKey" text,
    "abnDocKey" text,
    "logoKey" text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "adminNotes" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.installer_verifications OWNER TO postgres;

--
-- Name: lead_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lead_assignments (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "installerId" text NOT NULL,
    "assignedBy" text NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notes text,
    notified boolean DEFAULT false NOT NULL
);


ALTER TABLE public.lead_assignments OWNER TO postgres;

--
-- Name: lead_feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lead_feedback (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "overallRating" integer NOT NULL,
    "communicationRating" integer,
    "timelinessRating" integer,
    "professionalismRating" integer,
    comments text,
    "wouldRecommend" boolean,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.lead_feedback OWNER TO postgres;

--
-- Name: leads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leads (
    id text NOT NULL,
    "homeownerId" text NOT NULL,
    "installerId" text,
    status public."LeadStatus" DEFAULT 'DRAFT'::public."LeadStatus" NOT NULL,
    visibility public."LeadVisibility" DEFAULT 'HIDDEN'::public."LeadVisibility" NOT NULL,
    "phoneVerified" boolean DEFAULT false NOT NULL,
    "phoneNumber" text,
    "projectType" text NOT NULL,
    "propertyType" text NOT NULL,
    postcode text NOT NULL,
    location text NOT NULL,
    state text NOT NULL,
    address text,
    "energyBill" double precision NOT NULL,
    "billType" text NOT NULL,
    "roofType" text NOT NULL,
    "budgetRange" text NOT NULL,
    "desiredOffset" integer NOT NULL,
    "batteryRequired" boolean DEFAULT false NOT NULL,
    "batteryCapacity" text,
    timeframe text,
    "additionalNotes" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "approvedAt" timestamp(3) without time zone,
    "purchasedAt" timestamp(3) without time zone,
    "expiresAt" timestamp(3) without time zone,
    "adminNotes" text,
    "flaggedReason" text,
    "moderatedBy" text,
    "moderatedAt" timestamp(3) without time zone,
    "leadPrice" double precision,
    "purchaseStatus" public."PurchaseStatus",
    "stripePaymentIntentId" text,
    "quoteData" jsonb,
    "quoteType" public."LeadQuoteType" DEFAULT 'CALL_VISIT'::public."LeadQuoteType" NOT NULL,
    "archivedAt" timestamp(3) without time zone,
    "assignedAt" timestamp(3) without time zone,
    "assignedBy" text,
    "assignmentNotes" text,
    "cancelledAt" timestamp(3) without time zone,
    "cancelledBy" text,
    "cancelledReason" text,
    name text
);


ALTER TABLE public.leads OWNER TO postgres;

--
-- Name: newsletter_subscribers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.newsletter_subscribers (
    id text NOT NULL,
    email text NOT NULL,
    "subscribedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "unsubscribedAt" timestamp(3) without time zone
);


ALTER TABLE public.newsletter_subscribers OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    "userId" text NOT NULL,
    type public."NotificationType" NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    "actionUrl" text,
    metadata jsonb,
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    id text NOT NULL,
    "userId" text NOT NULL,
    "hashedToken" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL,
    used boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: phone_verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.phone_verifications (
    id text NOT NULL,
    "phoneNumber" text NOT NULL,
    "verificationSid" text,
    attempts integer DEFAULT 0 NOT NULL,
    "lastAttemptAt" timestamp(3) without time zone,
    "verifiedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    code text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public.phone_verifications OWNER TO postgres;

--
-- Name: quotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quotes (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "installerId" text NOT NULL,
    "quoteType" public."QuoteType" NOT NULL,
    "systemSize" double precision NOT NULL,
    "panelBrand" text,
    "inverterBrand" text,
    "batteryBrand" text,
    "batteryCapacity" double precision,
    "totalPrice" double precision NOT NULL,
    "federalRebate" double precision,
    "stateRebate" double precision,
    "finalPrice" double precision NOT NULL,
    description text,
    "paybackYears" double precision,
    "annualSavings" double precision,
    warranty text,
    "installTimeline" text,
    "attachmentS3Keys" text[],
    status text DEFAULT 'pending'::text NOT NULL,
    "acceptedAt" timestamp(3) without time zone,
    "rejectedAt" timestamp(3) without time zone,
    "rejectionReason" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.quotes OWNER TO postgres;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    description text,
    "updatedBy" text,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.settings OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    role public."UserRole" DEFAULT 'HOMEOWNER'::public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    name text,
    phone text,
    image text,
    "companyName" text,
    "businessAddress" text,
    postcode text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastLoginAt" timestamp(3) without time zone,
    "installerVerified" boolean DEFAULT false NOT NULL,
    "leadSubmissionCount" integer DEFAULT 0 NOT NULL,
    "phoneVerified" boolean DEFAULT false NOT NULL,
    "leadSubmissionLimit" integer DEFAULT 5 NOT NULL,
    "biddingLeadsSubmitted" integer DEFAULT 0 NOT NULL,
    "emailVerifiedAt" timestamp(3) without time zone,
    "lastLoginIp" text,
    password text,
    "profileComplete" boolean DEFAULT false NOT NULL,
    "sessionVersion" integer DEFAULT 0 NOT NULL,
    "signupIp" text,
    "signupUserAgent" text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: verification_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verification_tokens (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.verification_tokens OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bids; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bids (id, "leadId", "installerId", status, amount, "capacityOffer", "includeGst", "gstPercent", "gstAmount", "includeIncentive", "incentiveAmount", "finalTotal", "expectedInstallDate", notes, "panelBrand", "inverterBrand", "batteryBrand", "batteryCapacity", "submittedAt", "selectedAt", "purchasedAt") FROM stdin;
\.


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_messages (id, "leadId", "senderId", "senderRole", message, "isRead", "readAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: email_verification_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_verification_tokens (id, "userId", "hashedToken", expires, used, "createdAt") FROM stdin;
\.


--
-- Data for Name: guest_instant_quotes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: install_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.install_documents (id, "leadId", "documentType", "fileName", "fileSize", "contentType", "s3Key", "uploadedBy", "uploadedAt") FROM stdin;
\.


--
-- Data for Name: installer_preferences; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.installer_preferences (id, "userId", "alertNewLead", "alertLeadUpdates", "alertAdminMessages", "alertVerificationUpdates", "alertAccountActivity", "createdAt", "updatedAt") FROM stdin;
cmie5ipux0003i1d85s5wna35	cmie3wbov0002i108qrfsoeqh	t	t	t	t	t	2025-11-25 05:44:50.025	2025-11-25 05:44:50.025
\.


--
-- Data for Name: installer_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.installer_profiles (id, "userId", "companyName", "businessAddress", postcode, "operationalStatus", "createdAt", "updatedAt") FROM stdin;
cmie3xrdd0006i108ea7qq6ey	cmie3wbov0002i108qrfsoeqh	Communicators	81/1,Road 2 ,Block A,Niketon,Gulshan 1,Dhaka	2000	ACTIVE	2025-11-25 05:00:32.594	2025-11-25 05:44:50.013
\.


--
-- Data for Name: installer_verification_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.installer_verification_logs (id, "userId", "adminId", action, notes, "createdAt") FROM stdin;
cmie3xrdx0007i108icvejc21	cmie3wbov0002i108qrfsoeqh	cmie3wbov0002i108qrfsoeqh	SUBMITTED	Initial verification submission	2025-11-25 05:00:32.614
cmie5ipvg0004i1d8608rejd8	cmie3wbov0002i108qrfsoeqh	cmie55q210000i1ekk6x90x1z	APPROVE	\N	2025-11-25 05:44:50.045
\.


--
-- Data for Name: installer_verifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lead_assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lead_feedback; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lead_feedback (id, "leadId", "overallRating", "communicationRating", "timelinessRating", "professionalismRating", comments, "wouldRecommend", "createdAt") FROM stdin;
\.


--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: newsletter_subscribers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.newsletter_subscribers (id, email, "subscribedAt", "isActive", "unsubscribedAt") FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (id, "userId", "hashedToken", expires, used, "createdAt") FROM stdin;
\.


--
-- Data for Name: phone_verifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quotes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quotes (id, "leadId", "installerId", "quoteType", "systemSize", "panelBrand", "inverterBrand", "batteryBrand", "batteryCapacity", "totalPrice", "federalRebate", "stateRebate", "finalPrice", description, "paybackYears", "annualSavings", warranty, "installTimeline", "attachmentS3Keys", status, "acceptedAt", "rejectedAt", "rejectionReason", "createdAt", "updatedAt", "expiresAt") FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sessions (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: verification_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.verification_tokens (identifier, token, expires) FROM stdin;
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: bids bids_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bids
    ADD CONSTRAINT bids_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: email_verification_tokens email_verification_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT email_verification_tokens_pkey PRIMARY KEY (id);


--
-- Name: guest_instant_quotes guest_instant_quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guest_instant_quotes
    ADD CONSTRAINT guest_instant_quotes_pkey PRIMARY KEY (id);


--
-- Name: install_documents install_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.install_documents
    ADD CONSTRAINT install_documents_pkey PRIMARY KEY (id);


--
-- Name: installer_preferences installer_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installer_preferences
    ADD CONSTRAINT installer_preferences_pkey PRIMARY KEY (id);


--
-- Name: installer_profiles installer_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installer_profiles
    ADD CONSTRAINT installer_profiles_pkey PRIMARY KEY (id);


--
-- Name: installer_verification_logs installer_verification_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installer_verification_logs
    ADD CONSTRAINT installer_verification_logs_pkey PRIMARY KEY (id);


--
-- Name: installer_verifications installer_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installer_verifications
    ADD CONSTRAINT installer_verifications_pkey PRIMARY KEY (id);


--
-- Name: lead_assignments lead_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_assignments
    ADD CONSTRAINT lead_assignments_pkey PRIMARY KEY (id);


--
-- Name: lead_feedback lead_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_feedback
    ADD CONSTRAINT lead_feedback_pkey PRIMARY KEY (id);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: newsletter_subscribers newsletter_subscribers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_subscribers
    ADD CONSTRAINT newsletter_subscribers_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: phone_verifications phone_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phone_verifications
    ADD CONSTRAINT phone_verifications_pkey PRIMARY KEY (id);


--
-- Name: quotes quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: accounts_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "accounts_provider_providerAccountId_key" ON public.accounts USING btree (provider, "providerAccountId");


--
-- Name: audit_logs_action_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_logs_action_idx ON public.audit_logs USING btree (action);


--
-- Name: audit_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_createdAt_idx" ON public.audit_logs USING btree ("createdAt");


--
-- Name: audit_logs_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_leadId_idx" ON public.audit_logs USING btree ("leadId");


--
-- Name: audit_logs_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_userId_idx" ON public.audit_logs USING btree ("userId");


--
-- Name: bids_installerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "bids_installerId_idx" ON public.bids USING btree ("installerId");


--
-- Name: bids_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "bids_leadId_idx" ON public.bids USING btree ("leadId");


--
-- Name: bids_leadId_installerId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "bids_leadId_installerId_key" ON public.bids USING btree ("leadId", "installerId");


--
-- Name: bids_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bids_status_idx ON public.bids USING btree (status);


--
-- Name: bids_submittedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "bids_submittedAt_idx" ON public.bids USING btree ("submittedAt");


--
-- Name: chat_messages_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "chat_messages_createdAt_idx" ON public.chat_messages USING btree ("createdAt");


--
-- Name: chat_messages_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "chat_messages_leadId_idx" ON public.chat_messages USING btree ("leadId");


--
-- Name: chat_messages_senderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "chat_messages_senderId_idx" ON public.chat_messages USING btree ("senderId");


--
-- Name: email_verification_tokens_expires_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX email_verification_tokens_expires_idx ON public.email_verification_tokens USING btree (expires);


--
-- Name: email_verification_tokens_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "email_verification_tokens_userId_idx" ON public.email_verification_tokens USING btree ("userId");


--
-- Name: guest_instant_quotes_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "guest_instant_quotes_createdAt_idx" ON public.guest_instant_quotes USING btree ("createdAt");


--
-- Name: guest_instant_quotes_quoteType_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "guest_instant_quotes_quoteType_idx" ON public.guest_instant_quotes USING btree ("quoteType");


--
-- Name: guest_instant_quotes_sessionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "guest_instant_quotes_sessionId_idx" ON public.guest_instant_quotes USING btree ("sessionId");


--
-- Name: guest_instant_quotes_state_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX guest_instant_quotes_state_idx ON public.guest_instant_quotes USING btree (state);


--
-- Name: install_documents_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "install_documents_leadId_idx" ON public.install_documents USING btree ("leadId");


--
-- Name: installer_preferences_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "installer_preferences_userId_idx" ON public.installer_preferences USING btree ("userId");


--
-- Name: installer_preferences_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "installer_preferences_userId_key" ON public.installer_preferences USING btree ("userId");


--
-- Name: installer_profiles_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "installer_profiles_userId_key" ON public.installer_profiles USING btree ("userId");


--
-- Name: installer_verification_logs_adminId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "installer_verification_logs_adminId_idx" ON public.installer_verification_logs USING btree ("adminId");


--
-- Name: installer_verification_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "installer_verification_logs_createdAt_idx" ON public.installer_verification_logs USING btree ("createdAt");


--
-- Name: installer_verification_logs_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "installer_verification_logs_userId_idx" ON public.installer_verification_logs USING btree ("userId");


--
-- Name: installer_verifications_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX installer_verifications_status_idx ON public.installer_verifications USING btree (status);


--
-- Name: installer_verifications_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "installer_verifications_userId_idx" ON public.installer_verifications USING btree ("userId");


--
-- Name: installer_verifications_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "installer_verifications_userId_key" ON public.installer_verifications USING btree ("userId");


--
-- Name: lead_assignments_assignedBy_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "lead_assignments_assignedBy_idx" ON public.lead_assignments USING btree ("assignedBy");


--
-- Name: lead_assignments_installerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "lead_assignments_installerId_idx" ON public.lead_assignments USING btree ("installerId");


--
-- Name: lead_assignments_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "lead_assignments_leadId_idx" ON public.lead_assignments USING btree ("leadId");


--
-- Name: lead_assignments_leadId_installerId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "lead_assignments_leadId_installerId_key" ON public.lead_assignments USING btree ("leadId", "installerId");


--
-- Name: lead_feedback_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "lead_feedback_leadId_idx" ON public.lead_feedback USING btree ("leadId");


--
-- Name: lead_feedback_leadId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "lead_feedback_leadId_key" ON public.lead_feedback USING btree ("leadId");


--
-- Name: lead_feedback_overallRating_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "lead_feedback_overallRating_idx" ON public.lead_feedback USING btree ("overallRating");


--
-- Name: leads_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "leads_createdAt_idx" ON public.leads USING btree ("createdAt");


--
-- Name: leads_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "leads_expiresAt_idx" ON public.leads USING btree ("expiresAt");


--
-- Name: leads_homeownerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "leads_homeownerId_idx" ON public.leads USING btree ("homeownerId");


--
-- Name: leads_installerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "leads_installerId_idx" ON public.leads USING btree ("installerId");


--
-- Name: leads_postcode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX leads_postcode_idx ON public.leads USING btree (postcode);


--
-- Name: leads_quoteType_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "leads_quoteType_idx" ON public.leads USING btree ("quoteType");


--
-- Name: leads_state_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX leads_state_idx ON public.leads USING btree (state);


--
-- Name: leads_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX leads_status_idx ON public.leads USING btree (status);


--
-- Name: leads_visibility_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX leads_visibility_idx ON public.leads USING btree (visibility);


--
-- Name: newsletter_subscribers_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX newsletter_subscribers_email_key ON public.newsletter_subscribers USING btree (email);


--
-- Name: notifications_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_createdAt_idx" ON public.notifications USING btree ("createdAt");


--
-- Name: notifications_isRead_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_isRead_idx" ON public.notifications USING btree ("isRead");


--
-- Name: notifications_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_type_idx ON public.notifications USING btree (type);


--
-- Name: notifications_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_userId_idx" ON public.notifications USING btree ("userId");


--
-- Name: password_reset_tokens_expires_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX password_reset_tokens_expires_idx ON public.password_reset_tokens USING btree (expires);


--
-- Name: password_reset_tokens_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "password_reset_tokens_userId_idx" ON public.password_reset_tokens USING btree ("userId");


--
-- Name: phone_verifications_phoneNumber_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "phone_verifications_phoneNumber_idx" ON public.phone_verifications USING btree ("phoneNumber");


--
-- Name: phone_verifications_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX phone_verifications_status_idx ON public.phone_verifications USING btree (status);


--
-- Name: phone_verifications_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "phone_verifications_userId_idx" ON public.phone_verifications USING btree ("userId");


--
-- Name: quotes_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "quotes_createdAt_idx" ON public.quotes USING btree ("createdAt");


--
-- Name: quotes_installerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "quotes_installerId_idx" ON public.quotes USING btree ("installerId");


--
-- Name: quotes_leadId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "quotes_leadId_idx" ON public.quotes USING btree ("leadId");


--
-- Name: quotes_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quotes_status_idx ON public.quotes USING btree (status);


--
-- Name: sessions_sessionToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "sessions_sessionToken_key" ON public.sessions USING btree ("sessionToken");


--
-- Name: settings_key_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settings_key_idx ON public.settings USING btree (key);


--
-- Name: settings_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX settings_key_key ON public.settings USING btree (key);


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_role_idx ON public.users USING btree (role);


--
-- Name: verification_tokens_identifier_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX verification_tokens_identifier_token_key ON public.verification_tokens USING btree (identifier, token);


--
-- Name: verification_tokens_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX verification_tokens_token_key ON public.verification_tokens USING btree (token);


--
-- Name: accounts accounts_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT "accounts_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: bids bids_installerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bids
    ADD CONSTRAINT "bids_installerId_fkey" FOREIGN KEY ("installerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: bids bids_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bids
    ADD CONSTRAINT "bids_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: chat_messages chat_messages_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT "chat_messages_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: email_verification_tokens email_verification_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT "email_verification_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: install_documents install_documents_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.install_documents
    ADD CONSTRAINT "install_documents_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: installer_preferences installer_preferences_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installer_preferences
    ADD CONSTRAINT "installer_preferences_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: installer_profiles installer_profiles_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installer_profiles
    ADD CONSTRAINT "installer_profiles_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: installer_verifications installer_verifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installer_verifications
    ADD CONSTRAINT "installer_verifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lead_assignments lead_assignments_assignedBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_assignments
    ADD CONSTRAINT "lead_assignments_assignedBy_fkey" FOREIGN KEY ("assignedBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: lead_assignments lead_assignments_installerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_assignments
    ADD CONSTRAINT "lead_assignments_installerId_fkey" FOREIGN KEY ("installerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lead_assignments lead_assignments_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_assignments
    ADD CONSTRAINT "lead_assignments_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lead_feedback lead_feedback_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_feedback
    ADD CONSTRAINT "lead_feedback_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: leads leads_homeownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT "leads_homeownerId_fkey" FOREIGN KEY ("homeownerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: leads leads_installerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT "leads_installerId_fkey" FOREIGN KEY ("installerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: password_reset_tokens password_reset_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT "password_reset_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: phone_verifications phone_verifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phone_verifications
    ADD CONSTRAINT "phone_verifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: quotes quotes_installerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT "quotes_installerId_fkey" FOREIGN KEY ("installerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: quotes quotes_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT "quotes_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sessions sessions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict LWgXgBOAQBO51qzHI103vzwDWuObLH0RrtgfkNU5c6O172RFr9Pcm9iZ8HIH0rN

--
-- PostgreSQL database cluster dump complete
--

